@import 'src/styles/variables.scss';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.main {
  display: flex;
  flex-grow: 1;
}

.player-container {
  background: $ft;
  padding: 0.5rem 1rem;
}

.browser-container {
  padding: 0 1rem;
  flex: 3;
}

.menu-container {
  display: none;
  flex: 0;
  background: $black;
  padding: 1rem;

  &.open {
    flex: 1;
    display: flex;
  }
}

.menu {
  cursor: pointer;
}
