@import 'src/styles/variables.scss';

.browser {
  display: flex;
  flex-direction: column;
}

.song {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
}

.info {
  padding: 0 1rem;
}
