@import 'src/styles/variables.scss';

.player {
  display: flex;
}

.current-song {
  flex-grow: 1;

  .title {
    padding: 0 1rem;
  }
}

.meta {
  flex-grow: 1;
  text-align: right;
}

.controls {
  flex-shrink: 1;
}
